.rightbox {
  height: 100%;
  margin-left: 10rem;
}

.rb-container {
  /* width: 50%; */
  display: flex;
  position: relative;
  /* margin-left: 6rem; */
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  min-height: 50px;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -10px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #50d890;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 100ms ease-in-out;
}

ul.rb li .timestamp {
  color: #50d890;
  position: relative;
  font-size: 22px;
}

.item-title {
  color: #fff;
}

.about-title {
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: absolute;
  letter-spacing: -0.5rem;
  margin-top: -2rem;
}

/* .about-title .hover h2 {
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px #fff;
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .about-title .hover:hover h2 {
    transform: scale(1.5);
    color: #fff;
  } */

/* 
 .about-title .hover {
    position: relative;
    display: inline-block;
  }
  
  .about-title .hover div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
  }
  
  .about-title .hover:hover div {
    opacity: 1;
  }
  
  .about-title .hover h1 {
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px #fff;
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  */

@media screen and (max-width: 1040px) {
  .about-title {
    transform: rotate(0deg);
    transform-origin: left top 0;
    position: relative;
    top: 0;
    left: 0;
    margin: 1rem;
    /* margin-top: 5rem; */
    letter-spacing: 0.25rem;
    width: 90%;
  }
}

@keyframes rotate_scale {
  0% {
    transform: scale(0) rotate(0) translate(25%, -50%);
    opacity: 40%;
  }
  100% {
    transform: scale(6) rotate(250deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@media (max-width: 1100px) {
  #main .box {
    display: none;
  }
}
#main .box {
  position: absolute;
  bottom: 50%;
  right: 15%;
  z-index: 5;
  width: 25px;
  height: 25px;
  border: 2px solid green;
  transform: scale(0) rotate(0) translate(-50%, -50%);
  animation: rotate_scale 6s ease-in-out forwards infinite;
}
#main .box:nth-child(2) {
  border-color: #f1faee;
  animation-delay: 0ms;
  left: 60%;
  bottom: 30%;
}
#main .box:nth-child(3) {
  border-color: #1d3557;
  animation-delay: 2s;
  left: 70%;
  top: 25%;
}
#main .box:nth-child(4) {
  border-color: lightgreen;
  animation-delay: 4s;
  right: 10%;
  top: 30%;
}
#main .box:nth-child(5) {
  border-color: #a8dadc;
  animation-delay: 5s;
  top: 50%;
  left: 74%;
}
#main .box:nth-child(6) {
  border-color: #457b9d;
  animation-delay: 6s;
  top: 50%;
  left: 60%;
}

@media (max-width: 640px) {
  ul.rb li .timestamp {
    font-size: 16px;
  }
}
