.subheading-one {
  letter-spacing: 5px;
}

.heading-greeting {
  letter-spacing: 3px;
}
.heading-name {
  letter-spacing: -2px;
}

.button-contact {
  width: 165px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  margin-right: 0px;
}

.button-contact::before,
.button-contact::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background-color: lightgreen;
  transition: all 250ms ease-in-out;
}

.button-contact::before {
  width: 5px;
  height: 45px;
  box-shadow: 160px 0 #13ce66;
}

.button-contact::after {
  height: 2px;
  width: 165px;
  box-shadow: 0 45px #13ce66;
}

.button-contact:hover::before {
  left: -10px;
  box-shadow: 180px 0 #13ce66;
}

.button-contact:hover::after {
  top: -10px;
  box-shadow: 0 60px #13ce66;
}

container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .container {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
}
@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 30px;
  /* font-size: 40px; */
  color: #fff;
  font-weight: 600;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}
.container-card img {
  margin-bottom: 32px;
}

.bg-white,
.bg-green,
.bg-yellow,
.bg-red,
.bg-orange,
.bg-blue {
  position: relative;
}

.bg-white::after,
.bg-green::after,
.bg-yellow::after,
.bg-red::after,
.bg-orange::after,
.bg-blue::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-yellow::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.bg-green::after {
  background: linear-gradient(71deg, #0c0a0e, #5fad6f, #0c0a0e);
}

.bg-white::after {
  background: linear-gradient(71deg, #0c0a0e, #ffffff, #0c0a0e);
}

.bg-red::after {
  background: linear-gradient(71deg, #0c0a0e, #cf2020, #0c0a0e);
}

.bg-orange::after {
  background: linear-gradient(71deg, #0c0a0e, #d8791f, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  max-width: 470px;
}

@media(min-width:760px){
.arrow,
.arrow:before {
  position: static;
  display: inline-block;
  margin-left: 150%;
  margin-bottom: 20px;;
}

.arrow {
  width: 40px;
  height: 40px;
  opacity: 60%;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 60%;
  margin: -10px 0 0 -10px; 
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
}
@media (max-width: 1100px) {
  .arrow {
    display: none; /* Hide the container on smaller screens */
  }
}