 .about-title .hover {
    position: relative;
    display: inline-block;
  }
  
  .about-title .hover div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
  }
  
  .about-title .hover:hover div {
    opacity: 1;
  }
  
  .about-title .hover h1 {
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px #fff;
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .about-title .hover:hover h1 {
    transform: scale(1.5);
    color: #fff;
    -webkit-text-stroke: 2px transparent;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }


  .about-box {
    box-shadow: inset 0 0 0 4px #000000, inset -4px -4px 0 6px #100b16;
    background-color: #000000;
    cursor: pointer;
    position: relative; /* Add position relative */
}

.about-box:before {
    position: absolute;
    top: 0; /* Change bottom to top */
    left: 0;
    content: "";
    background-color: #ffffff;
    opacity: .1;
    transform-origin: 0 100%; /* Change bottom to 100% */
    transform: scaleY(0);
    transition: .4s ease-out;
    width: 100%; /* Add width: 100% */
    height: 0; /* Add height: 0 */
}

.about-box:hover {
    &:before {
        height: 100%; 
        transform: scaleY(1);
    }
}

.about-description {
    transition: .4s ease-out;
}

.about-image {
  --g: 4px;     /* the gap */
  --b: 6px;    /* border thickness*/
  --c: #00b09e; /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%; 
  transition: .4s;
}
.about-image:hover {
  --_p: 75%;
  filter: grayscale(0%);
}