.hover-nav {
  border: 5px solid;
  border-image: linear-gradient(#00f4f8);
  -webkit-mask: conic-gradient(at bottom 1px left 0.5px, #0000 90deg, #000 0) 0
      var(--_i, 100%) / var(--_i, 0px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0s, -webkit-mask-position 0s 0s;
}
.hover-nav:hover {
  --_i: 100%;
  transition: 0s, -webkit-mask-size 0s 0s;
}
.hover-nav.active {
  --_i: 100%;
  transition: 0s, -webkit-mask-size 0s 0s;
}
@media (max-width: 768px) {
  .hover-nav {
    border:none;
  }
}