

body {
  /* background-color: rgb(0, 0, 0); */
  background: radial-gradient(#141d28 0%, #000000 100%);
}

.cursor {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  /* mix-blend-mode: screen;  */
  background-image: radial-gradient(rgba(52, 125, 243, 0.2), rgba(0, 0, 0, 0.4));
  transition: transform 0.2s ease-out;

}

/* Responsive adjustments for small devices */
@media (max-width: 767px) {
  .cursor {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
  }
}

/* Responsive adjustments for medium devices */
@media (min-width: 768px) and (max-width: 1023px) {
  .cursor {
    width: 75px;
    height: 75px;
    background-size: 100% 100%;
  }
}
